# Name of workflow
name: author-check

# Trigger the workflow on push or pull request
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: make install
      - name: Run linter
        run: make lint

      - name: Run tests
        run: make test

        # https://docs.sonarsource.com/sonarqube-cloud/enriching/test-coverage/php-test-coverage/
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=evgenqwerty
            -Dsonar.projectKey=Evgenqwerty_php-project-48
            -Dsonar.sources=./src
            -Dsonar.php.coverage.reportPaths=reports/coverage.xml
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.analysis.ci.automatic=false
            -Dsonar.exclusions=**/lang/**
